body {
    margin: 0;
    background-color: #edeef2;
}

#map {
    display: grid;
    background-color: #cdd0d4;
    background-image: url("../img/tale.png");
    justify-items: center;
    align-items: center;
    width: max-content;
}

.belt {
    width: calc(100% );;
    height: calc(100% );;
    display: block;
}

.block-scale-1 {
    width: 10px;
    height: 10px;
}

.block-scale-2 {
    width: 20px;
    height: 20px;
}

.block-scale-3 {
    width: 40px;
    height: 40px;
}

.block-scale-4 {
    width: 80px;
    height: 80px;
}

.block-scale-5 {
    width: 160px;
    height: 160px;
}

.bg-scale-1 {
    background-size: 10px;
}

.bg-scale-2 {
    background-size: 20px;
}

.bg-scale-3 {
    background-size: 40px;
}

.bg-scale-4 {
    background-size: 80px;
}

.bg-scale-5 {
    background-size: 160px;
}

.char {
    display: block;
    background-repeat: no-repeat;
}

.t {
    display: block;
    width: 100%;
    height: 100%;
}

.miner {z-index: 1000}

.miner-r {
    background-image: url("../img/miner-r.png");
}
.hub-r {
    background-image: url("../img/miner-r.png");
    text-align: center;
    color: green;
    vertical-align: center;
    justify-content: center;
    z-index: 1000;
    background-color: red;

}

.quest {
    width: 200px;
    height: 350px;

    background-image: url("../img/main-tree.png");
    background-size: 200px 350px;
}

.char-h {
    background-size:  40px 40px;
    background-image: url("../img/char-h.png");
}

.wire {
    background-image: url("../img/wire.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mine {
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    animation: active-mine 2s linear infinite;
}
@keyframes active-mine {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 80% 80%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.mine-w {background-image: url("../img/wire.png");}
.mine-c {background-image: url("../img/circuit.png");}
.mine-b {background-image: url("../img/battery.png");}
.mine-l {background-image: url("../img/light.png");}
.mine-m {background-image: url("../img/chip.png");}


.skin-p_1 {
    background-image: url("../img/p_1.png");
}
.skin-p01 {
    background-image: url("../img/p01.PNG");
}
.skin-p_02 {
    background-image: url("../img/p_02.PNG");
}
.skin-p_03 {
    background-image: url("../img/p_03.PNG");
}
.skin-p_04 {
    background-image: url("../img/p_04.PNG");
}

.circuite {
    background-image: url("../img/circuite.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mine-h {
    background-image: url("../img/mine-h.png");
}


@keyframes char-right {
    from {background-position: 0 0;}
    to   {background-position: 40px 0;}
}


.belt-u {
    animation: belt-up 1s linear infinite ;
    background-image: url("../img/belt-u.png");
}

.belt-r {
    animation: belt-right 1s linear infinite ;
    background-image: url("../img/belt-r.png");
}

.belt-d {
    animation: belt-down 1s linear infinite ;
    background-image: url("../img/belt-d.png");
}

.belt-l {
    animation: belt-left 1s linear infinite ;
    background-image: url("../img/belt-l.png");
}

.belt-ur {
    background-image: url("../img/belt-ur.png");
}


@keyframes belt-right {
    from {background-position: -40px 0;}
    to   {background-position: 0 0;}
}

@keyframes belt-left {
    from {background-position: 0 0;}
    to   {background-position: -40px 0;}
}

@keyframes belt-up {
    from {background-position: 0 40px;}
    to   {background-position: 0 0;}
}

@keyframes belt-down {
    from {background-position: 0 0;}
    to   {background-position: 0 40px;}
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
    }
}

#player {
    display: block;
    z-index: 1000;
    /* grid-column: 5; */
    /* grid-row: 5; */
}


#info {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

#buildings-menu {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}


#buildings-menu-items {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(0,0,0,0.20);
    display: flex;
}

#buildings-menu-items > .item {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin: 10px;
}

#buildings-menu-items > .item:hover {
    background-color: rgba(0,0,0,0.06);
    cursor: pointer;
}

.box {
    position: relative;
}

html, body, .app, #root, #screen {
    width: 100%;
    height: 100%;
}
